<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../static/css/conmen-header.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>

</head>

<body>
<div class="top"></div>
<div class="hea">中国农产品真菌毒素及产毒真菌污染数据库 </div>
<div class="title"><span class="logo"></span> <a class="gl active" href="superadmin.html">系统管理</a> <a class="qx" href="superadmin-m.html">信息管理</a><!-- <a class="kh">信息权限管理</a> --> 
          <a class="xx" href="superadmin-s.html">审核管理</a> <a class="gr" href="customer.html">数据浏览</a> <a href="javascript:if(confirm('确实要退出吗?'))location='login.html'" class="quit">退出</a><span class="usename">用户名</span></div>
<div class="ll"> <a class="dall dactive" href="customer.html">数据浏览</a><a class="chart">图表查看</a><a class="mps">地域分布</a> <a class="per"> 个人中心
  <ul>
    <li class="lljl">浏览记录</li>
    <li class="djl">下载记录</li>
    <li class="wpwd">修改密码</li>
  </ul>
  </a> </div>

</body>
</html>
