<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<base href="<%=basePath%>">
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="/JspAndSeverlet/static/css/reset.css"/>
<link rel="stylesheet" href="/JspAndSeverlet/static/css/login.css" />
<script type="text/javascript" src="/JspAndSeverlet/static/js/jquery1.11.3-jquery.min.js"></script>
<script type="text/javascript" src="/JspAndSeverlet/static/js/checkLogin.js" ></script>
<script type="text/javascript" src="/JspAndSeverlet/static/js/layui-all.js" ></script>
</head>
<body>
<div class="contaner">
  <div class="login-box">
    <p class="loginbox-title">信息管理系统</p>
    <div class="loginbox-head">
      <p>登录</p>
    </div>
    <form class="login" action="login" method="get" id="fm1">
      <div class="loginbox-info">
        <ul>
          <li>
            <input type="text" name="loginname"  class="login-name" placeholder="请输入登录账号/手机号"/>
          </li>
          <span id="login_name"></span>
          <li>
            <input type="password" name="password"  class="login-pwd" placeholder="请输入密码">
          </li>
          <span id="password"></span>
          <li><input type="submit" value="登录" class="login-sin" /></li>
          <li class="login-fpwd"><a class="login-res" href="forgetpwd.html">忘记密码?</a><a class="login-register" href="register.html">立即注册</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
</body>

<!-- END PAGE LEVEL SCRIPTS -->
<script>
$(function(){
     //解决java后台跳出iframe的解决方法
    if (window != top){
        top.location.href = location.href;
        } 
})
		jQuery(document).ready(function() {
		  App.init();
		  Login.init();
		});
	</script>
</html>
