/*header*/
.cus-header{
	width: 100%;
	height: 62px;
	min-width: 1100px;
	background: #e2efff;
}
.cus-header div{
	float: left;
}
.cus-header .cus-logo{
	width: 239px;
	background: #58a0fd;
	text-align: center;
}
.cus-header .cus-logo a{
	color: #fff;
	line-height: 62px;
	font-size: 18px;
}
.cus-header .cus-manage{
	line-height: 62px;
	margin-left: 54px;
}
.cus-header .cus-manage a,
.cus-header .cus-quit a{
	color: #4f6aa8;
}

.cus-header .cus-quit{
	float: right;
	line-height: 62px;
	margin-right: 25px;
}
.cus-header .cus-quit img{
	vertical-align: -3px;
}
/*content*/
.cus-content{
	width: 1100px;
	margin: 0 auto;
	color: #4f6aa8;
}

.cus-content .cus-admin{
	padding-top: 18px;
}
.cus-content .cus-admin a{
	color: #88b8fd;
}


.cus-content .cus-search{
	margin-top: 44px;
}
.cus-content .cus-search input{
	width: 180px;
	height: 32px;
	margin-left: 8px;
	margin-right: 12px;
	border-radius: 2px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #4f6aa8;
}
.cus-content .cus-search select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 165px;
	height: 32px;
	outline: none;
	border-radius: 2px;
	margin-left: 8px;
	margin-right: 10px;
	border: 1px solid #4f6aa8;
	background: transparent;
	background: url(../img/xl.png) no-repeat 142px center;
}
.cus-content .cus-search .search-btn{
	width: 70px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	border-radius: 2px;
	background: #58a0fd;
	display: inline-block;
	text-align: center;
}
/*table*/
.cus-content .cus-info{
	width: 100%;
	text-align: center;
	margin-top: 30px;
    margin-bottom: 24px;
}

.cus-content .cus-info .info-item{
	height: 36px;
	background: #daeaff;
	display: table-row;
	border-radius: 2px;
	border-bottom: 3px solid #f4f9ff;
}

.cus-content .cus-info .info-item td:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.cus-content .cus-info .info-item td:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.cus-content .cus-info .info-item.info-first td:first-child{
	border-top-left-radius: 2px;
}
.cus-content .cus-info .info-item.info-first td:last-child{
	border-top-right-radius: 2px;
}
.cus-content .cus-info .info-item:last-child td:first-child{
	border-bottom-left-radius: 2px;
}
.cus-content .cus-info .info-item:last-child td:last-child{
	border-bottom-right-radius: 2px;
}

.cus-content .cus-info .info-first{
	background: #58a0fd;
	color: #fff;
}
.cus-content .cus-info .info-item:last-child{
	border: 0px;
} 
.cus-content .cus-info .info-item a{
	color: #58a0fd;
}
.cus-content .cus-info .info-item .delete::before{
	content: " | ";
	color: #58a0fd;
}
