body{
	background: url(../img/back.png) no-repeat;
    background-size: 100% 1500px;
}
.contaner{
	width: 1366px;
	height: 600px;
	margin: 0 auto;
	background: url(../img/map.png) no-repeat;
	background-position: center 80px;
}
.register-info{
	padding-top:93px;
	width: 340px;
	margin: 0 auto;
	text-align: center;
}
.register-info .register-title{
	font-size: 30px;
	color: #fefefe;	
}
.register-info .register-head{
	width: 342px;
	height: 55px;
	line-height: 55px;
	margin-top: 28px;
	font-size: 18px;
	color: #72abfd;
	text-align: center;
	background: #fff;
	border-radius: 2.5px;
}
.register-info .register-head>p{
	font-size: 18px;
}
.register-data{
	width: 342px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 16px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}
.register-data .register-lin{
	margin-bottom: 10px;
	width: 300px;
	overflow: hidden;
	margin-left: 20px;
}
.register-data .register-lin>lable{
	float: left;
	display: inline-block;
	width: 70px;
	height: 31px;
	line-height: 31px;
	margin-right: 5px;
	text-align: left;
	color: #4f6aa8;
}
.register-data .register-lin>input{
	float: left;
	width: 223px;
	height: 31px;
	display: inline-block;
	border: 1px solid #4f6aa8;
	border-radius: 1px;
}
select::-ms-expand { display: none; }
.register-data .register-lin>select{
	float: left;
	width: 223px;
	height: 31px;
	border: 1px solid #4f6aa8;
	border-radius: 2.5px;
	background: url(../img/xl.png) no-repeat 200px 10px;
	appearance: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.register-btn{
	display: block;
	width: 300px;
	padding: 10px 0px;
	margin: 20px 0 10px 20px;
	border-radius: 2.5px;
	background: #549efd;
	color: #fefefe;
}
.register-clause{
	text-decoration: underline;
	font-size: 12px;
	color: #549efd;
}
.active{
	background: url(../img/valid.png) no-repeat 200px 7px;
}
.bedactive{
	background: url(../img/invalid.png) no-repeat 200px 7px;
}
