/*header*/
.cus-header{
	width: 100%;
	height: 62px;
	min-width: 1100px;
	background: #e2efff;
}
.cus-header div{
	float: left;
}
.cus-header .cus-logo{
	width: 239px;
	background: #58a0fd;
	text-align: center;
}
.cus-header .cus-logo a{
	color: #fff;
	line-height: 62px;
	font-size: 18px;
}
.cus-header .cus-manage{
	line-height: 62px;
	margin-left: 54px;
}
.cus-header .cus-manage a,
.cus-header .cus-quit a{
	color: #4f6aa8;
}

.cus-header .cus-quit{
	float: right;
	line-height: 62px;
	margin-right: 25px;
}
.cus-header .cus-quit img{
	vertical-align: -3px;
}
/*content*/
.user-content{
	width: 1100px;
	margin: 0 auto;
	color: #4f6aa8;
}
.user-content .user-admin{
	margin-top: 18px;
}
.user-content .user-admin a{
	color: #4f6aa8;
}
.user-content .user-admin a.active{
	color: #58a0fd;
}
.user-content .user-modify-infolist{
	margin-top: 44px;
}
.user-content .user-modify-infolist .user-modify-title{
	text-align: center;
	margin-bottom: 27px;
	font-size: 18px;
}
.user-content .user-modify-infolist .modify-list{
	margin-left: 328px;
}
.user-content .user-modify-infolist .modify-list .list-item{
	margin-bottom: 10px;
}
.user-content .user-modify-infolist .modify-list .list-item:last-child{
	margin-bottom: 0;
}
.user-content .user-modify-infolist .modify-list .list-item label{
	width: 86px;
	text-align: left;
	display: inline-block;
}
.user-content .user-modify-infolist .modify-list .list-item input{
	width: 310px;
	height: 32px;
	border-radius: 2px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #4f6aa8;
}
.user-content .user-modify-infolist .modify-list .list-item input[type="checkbox"]{
	width: 15px;
	height: 14px;
	vertical-align: middle;
}
.user-content .user-modify-infolist .modify-list .list-item select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 310px;
	height: 32px;
	outline: none;
	border-radius: 2px;
	border: 1px solid #4f6aa8;
	background: transparent;
	background: url(../img/xl.png) no-repeat 288px center;
}
.user-content .user-modify-infolist .modify-list .list-item input[type = "radio"]{
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-right: 12px;
	vertical-align: sub;
}
.user-content .user-modify-infolist .modify-list .list-item input[type = "radio"]:last-child{
    margin-left: 20px;
}
.user-content .user-modify-infolist .modify-option{
	padding: 22px;
	text-align: center;
	clear:both;
}
.user-content .user-modify-infolist .modify-option a{
	width: 80px;
	height: 32px;
	color: #fff;
	line-height: 32px;
	border-radius: 2px;
	display: inline-block;
}
.user-content .user-modify-infolist .modify-option .user-modify{
	background: #58a0fd;
	margin-right:68px;
}
.user-content .user-modify-infolist .modify-option .modify-back{
	background: #88abda;
}
.list-item .xxgl{
	display:none;
}
.list-item .xxgl .zl{
	display: inline-block;
    float: left;
    width: 310px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 49px;
	
}
.list-item .xxgl  .title{
	float:left;
	margin-top:10px;
}
.list-item .xxgl .zl li{
	float: left;
    width: 85px;
    margin-right: 10px;
    
}
.list-item .xxgl .zl input[type=checkbox]{
	width:15px;
	height:14px;
	vertical-align: middle;
}

.list-item .xxgl .address-con{
	display: inline-block;
    float: left;
    width: 515px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 49px;
}
.list-item .xxgl  .address{
	float:left;
	margin-top:10px;
}
.list-item .xxgl .address-con li{
	float: left;
    width: 75px;
    margin-right: 10px;
}
.list-item .xxgl .address-con input[type=checkbox]{
	width:15px;
	height:14px;
	vertical-align: middle;
}
.list-item .time{
	clear:both;
}
.list-item .time .begin{
	float: left;
    margin-top: 10px;
    margin-right: 22px;
        height: 32px;
    line-height: 32px;
}
.list-item .time .end{
	float: left;
    margin-top: 10px;
    margin-right: 22px;
        height: 32px;
    line-height: 32px;
}
#dt{
	margin-top:10px;
	margin-left: 18px;
}
#dt-b{
	margin-top:10px;
	margin-left: 18px;
}
.list-item .xxgl .zl{
	display: inline-block;
	float: left;
	width: 310px;
	line-height: 25px;
	margin-top: 10px;
	
}
